<div class="mb-3">
  <div class="d-flex justify-content-between p-2 ps-2 pe-4 fs-6 bg-light">
    <div>
      {{#if required}}
        <span 
          class="d-inline-block me-1">
            <i class="fal fa-brake-warning text-danger"></i>
        </span>
      {{/if}}
    <a class="fw-bold link-dark link-underline-opacity-0 link-dark link-underline-opacity-75-hover" 
      data-bs-toggle="collapse" 
      href="#{{id}}">
      {{name}}
    </a>
    </div>
    <div class="text-gray fst-italic">{{type}}</div>
  </div>
  <div class="collapse" id={{id}}>
    <div class="p-2">
      <div class="text-end fw-bold text-danger text-opacity-50">
        {{#if required}}
          * This field is required
        {{/if}}
      </div>
      {{{children}}}
    </div>
  </div>
</div>
