<html>
  <head>
    <title>{{project.name}} | {{document.title}}</title>
    <link rel="stylesheet" href="{{project.base_url}}css/fa.min.css">
    <link rel="stylesheet" href="{{project.base_url}}js/fa.min.js">
    <link rel="stylesheet" href="{{project.base_url}}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{project.base_url}}css/article.css">
    <script src="{{project.base_url}}js/bootstrap.bundle.min.js" ></script>
  <style>
    @font-face {
      font-family: 'Overpass';
      src: url('{{project.base_url}}webfonts/overpass.ttf') format("truetype-variations");
      font-weight: 1 999;
    }
  </style>
  </head>
  <body
      data-bs-spy="scroll" 
      data-bs-target="#toc" 
      data-bs-smooth-scroll="true">
      <div class="border bottom-border p-3 fixed-top bg-white text-secondary">
        <div class="container-lg bg-white">
          <div class="d-flex justify-content-between">
            <div class="fw-bold">
              {{project.name}}
            </div>
            <div>
              {{#if project.repo_url}}
                <a 
                  class="text-dark me-4 link-underline-opacity-0" 
                  data-bs-toggle="tooltip" 
                  data-bs-placement="top" 
                  title="Source code"
                  href="{{project.repo_url}}"><i class="fal fa-code"></i></a>
              {{/if}}
              {{#if project.project_page}}
                <a 
                  class="text-dark me-3 link-underline-opacity-0" 
                  data-bs-toggle="tooltip" 
                  data-bs-placement="top" 
                  title="Home page"
                  href="{{project.project_page}}">
                  <i class="fal fa-home"></i>
                </a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    <div class="container-lg">
      <div class="row gx-5">
        <div class="col-lg-auto col-md-3 bg-light border-end pe-4 ps-4 full-height">
          <div class="sticky-top" id="menu">
            <div class="pb-3">
              {{#each sitemap.pages}}
                {{#if this.frontmatter.title}}
                <a class="text-nowrap pe-3 fs-6 fw-light text-capitalie d-block link-underline-opacity-0 link-dark link-underline-opacity-75-hover" 
                   href="{{this.url}}">{{this.frontmatter.title}}</a>
                {{/if}}
              {{/each}}
              </div>
            {{#each sitemap.folders}}
              <div class="pb-3">
                <div class="text-capitalize fw-bold fs-7">{{this.name}}</div>
                {{#each this.pages}}
                  <a class="text-nowrap pe-3 fs-6 fw-light text-capitalie d-block link-underline-opacity-0 link-dark link-underline-opacity-75-hover" 
                   href="{{this.url}}">{{this.frontmatter.title}}</a>
                {{/each}}
              </div>
            {{/each}}
          </div>
        </div>
        <div class="col-md-9 col-lg-7">
            <header class="pt-4 pb-4 mb-4">
              <div class="subheader">{{document.subtitle}}</div>
              {{document.title}}
            </header>
            <article class="pb-4">
                {{{body}}}
            </article>
        </div>
        <div class="col-lg-3 d-md-none d-lg-block">
          <div class="sticky-top">
            <div id="toc">
              {{#each toc}}
              <div class="toc-item mb-2">
                <a style="margin-left: {{mul depth 5}}px" 
                   class="d-block pe-auto link-dark link-underline-opacity-0 link-underline-opacity-75-hover" 
                  href="#{{this.slug}}">
                  {{this.text}}
                </a>
              </div>
              {{/each}}
            </div>
            {{#if document.tags}}
              <hr/>
              <div class="text-center">
              {{#each document.tags}}
                <div class="badge rounded-pill bg-light text-secondary me-1 p-2">{{this}}</div>
              {{/each}}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="ps-4 pe-4 pt-2 pb-2 d-flex justify-content-between text-center bordered border-top text-secondary text-opacity-50">
      <div id="modified-time"></div>
      <div>
        Generated by <a class="text-dark link-underline-opacity-0" href="https://codex.5sigma.io/">Codex</a>
      </div>
    </div>
  </body>
  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    });
    let d = new Date('{{modified}}');
    document.querySelector("#modified-time").innerHTML = d.toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"})  + " " + d.toLocaleTimeString()
  </script>
</html>

