<div class="mb-1 mt-4 field">
  <div class="d-flex justify-content-between ps-2 pe-2 fs-6 border align-items-stretch">
    <a class="fw-bold link-dark link-underline-opacity-0 link-dark link-underline-opacity-75-hover p-2 stretched-link position-relative flex-fill" 
      data-bs-toggle="collapse" 
      href="#{{id}}">
      {{name}}
    </a>
    <div class="d-inline-block me-3 ps-3 p-2">
      {{#if required}}
        <span 
          class="badge rounded-pill bg-danger">
          required
        </span>
      {{else}}
        <span 
          class="badge rounded-pill bg-secondary">
          optional
        </span>
      {{/if}}
    </div>
    <span class="fw-bold p-2 text-center position-relative">
      {{#if type_link}}
      <a class="text-dark stretched-link" href="{{join_url base_url type_link}}">{{type}}</a><i class="ms-2 fal fa-chevron-right"></i>
      {{else}}
        {{type}}
      {{/if}}
    </span>
  </div>
  <div class="collapse" id={{id}}>
    <div class="p-2">
      {{{children}}}
      {{#if default}}
        <hr/>
        <span class="fw-bold d-inline-block me-3">Default value:</span>{{default}}
      {{/if}}
    </div>
  </div>
</div>
